article{
    height:80vh;
    /* height: max-content; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.explaination{
    max-width: 45vw;
}